<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @data['status'] == 200 ? "Pokedev | #{@data['result']['login']}" : "Pokedev" %></title>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/results.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
  <!-- header -->
  <header >
    <div class="content">
    </div>
    <% if !@data.nil? && @data['status'] != 200 %>
      <div class="alert <%= @data['color'] %>">
        <h3><%= @data['message'] %></h3>
      </div>
    <% end %>
  </header>

  <!-- content -->
  <a href="/">Try a new search</a>
  <div class="container">
    <main>
      <div class="content">
        <h3>Welcome to Pokedev</h3>
        <% if @data['status'] == 200 %>
          <div class="dev-stats">
            <h3><%= @data['result']['name'] %></h3>
            <%= "<img src=#{@data['result']['avatar_url']}>" %>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</body>
</html>